<div class="container carousel-inner no-padding ">

  <div class="carousel-item active ">
    {{#each picturePath1}}
    <div class="img-holder m-3 bg-light col-xs-3 col-sm-3 col-md-3">
      <img class="imgScroll1" src='{{this}}' alt="no picture">
    </div>
    {{/each}}
  </div>
  <div class="carousel-item">
    {{#each picturePath2}}
    <div class="img-holder m-3 bg-light col-xs-3 col-sm-3 col-md-3">
      <img class="imgScroll2" src='{{this}}' alt="no picture">
    </div>
    {{/each}}
  </div>
</div>
