
<h1>Регистрация не удалась!</h1>

<a href="/registration"><button id="signupBtn" type="submit">Вернуться к регистрации</button></a>

<div class="fullScreen">
  <img class="centerImage" src="/img/error-404-page.jpg">
  <h2>Something went wrong</h2>
</div>

