{{#if user}}
<a href="/logout"><button id="signupBtn" type="submit">Выйти</button></a>

{{else}}
<a href="/registration"><button id="signupBtn" type="submit">Регистрация</button></a>

<a href="/login"><button id="loginBtn" type="submit">Войти</button></a>

{{/if}}
