<h2>Форма регистрации:</h2>
<script defer src="/js/psyhologregistration.js"></script>
<form id="regForm" , name="regForm" , method="POST" , action="/psyhologregistration">
  <label>Name: <input type="text" , name="psyhologName" , id="psyhologname"></label>
  <label>Password: <input type="password" , name="psyhologPassword" , id="pwd"></label>
  <label>Email: <input type="email" , name="psyhologEmail" , id="mail"></label>
  <input type="submit">psyhologregistration</button>
</form>
