<script defer src="/js/psyhologlogin.js"></script>

<form action="/psyhologlogin" method="post" id="LoginForm">

  <input type="text" name="psyhologEmail" id="psyhologEmail" placeholder="e-mail" required>
  <input type="password" name="psyhologPassword" id="psyhologPassword" placeholder="password" required>
  <button type="submit">Submit</button>

</form>

<a href="/auth/vkontakte"><img class="vkPngLogin" src="/img/vkontakte_PNG23.png"></a>
