<h2>Форма регистрации:</h2>
<script defer src="/js/index.js"></script>
<form id="regForm", name="regForm", method="POST", action="/registration">
  <label>Name: <input type="text", name="userName", id="username"></label>
  <label>Password: <input type="password", name="userPassword", id="pwd"></label>
  <label>Email: <input type="email", name="userEmail", id="mail"></label>
  <button type="submit">Let's do this!</button>
</form>
